@import 'tailwindcss';

*{
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #191b1c;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.navbarText{
    font-family: "Dr Sugiyama", cursive;
}

.HeroText{
    font-family: "Henny Penny", system-ui;
}

.priceTag{
    font-family: "New Rocker", system-ui;
}

.BottomImage{
    background-image: url('/Frontend/src/assets/BottomImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}